body {
  background-image: url("../media/sunBack.png");
  background-position: center;
  background-size: cover;
  background-color: #ffe35e;
  font-family: "Quicksand", sans-serif;
  color: #faf1d0;
  height: 100vh;
  text-transform: capitalize;
}
a {
  color: #92253f;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: #92253f;
  background-color: transparent;
  text-decoration: none;
}
.infoContainer {
  background-color: #e4663a;
  padding: 20px;
  position: relative;
  bottom: 180px;
  max-width: 600px;
  min-width: 500px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
#sun {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#tomTemp,
.forePlaceholder,
#highLow,
#cityShown,
#temperatureShown {
  color: white;
}
#cityShown,
#temperatureShown {
  font-size: 50px;
  font-family: "Spicy Rice", cursive;
}
#rightAlign {
  text-align: right;
}

.extraInfo,
#highLow {
  line-height: 24px;
  font-size: 23px;
}
#tomTemp,
#tomFore,
.forePlaceholder,
#weathertype {
  font-size: 14px;
}
.additionalWeathToday {
  text-align: left;
  line-height: 15px;
  font-weight: 700;
}
#tomIcon {
  font-size: 30px;
  display: block;
}
#tomIcon,
#tomTemp,
#tomFore,
.forePlaceholder {
  margin: auto;
  text-align: center;
}
.forecast {
  background-color: #fcfe7c38;
  border-radius: 10px;
  margin: 0px;
  padding: 5px;
}
.middle {
  margin: 10px 0;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotating 400s linear infinite;
}
.theme {
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 165px;
  border: none;
  border-radius: 4px;
  background-color: #e4663a;
  color: white;
  padding: 5px 20px;
  font-weight: bold;
}
.searchbar {
  position: relative;
  bottom: 190px;
  max-width: 210px;
  margin: 0 auto;
  left: 15px;
}
#search-input {
  border: none;
  border-radius: 4px;
  background-color: #faf1d0;
  color: #e4663a;
}
#search-btn {
  background: none;
  border: none;
  position: relative;
  right: 40px;
}
.currentBtn {
  display: block;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  top: 120px;
  font-size: 50px;
  color: #92253f;
}
/* .currentBtn:hover,
#search-btn:hover {
  cursor: url(http://www.rw-designer.com/cursor-view/2956.png), auto;
}
#search-input:hover {
  cursor: url(http://www.rw-designer.com/cursor-view/2942.png), auto;
} */
footer {
  background-color: #ffe35e;
  width: 100%;
  padding: 5px;
  position: sticky;
  bottom: 0px;
}
.footerP {
  color: #e4663a;
  text-align: center;
}
.units {
  font-size: 23px;
  position: relative;
  top: -28px;
}

.dark {
  background-image: url("../media/moonBack.png");
  background-color: #0c1445;
  color: #cfcce9;
}
.dark .infoContainer {
  background-color: #5c54a4;
}
.dark footer {
  background-color: #0c1445;
}
.dark .footerP {
  color: white;
}
.dark a {
  color: #cdcbe4;
  font-weight: bold;
}
.dark .forecast,
.dark #search-input {
  background-color: #cdcbe4;
}
.dark #search-input,
.dark .forePlaceholder,
.dark #tomTemp {
  color: #0c1445;
}
.dark #tomFore,
.dark #tomIcon {
  color: #4f4c70;
}
.dark #sun {
  src: url(../media/moon.png);
}
.dark .theme {
  background-color: #5c54a4;
}
.dark .currentBtn {
  color: #0c1445;
}
.crop {
  display: block;
  margin: 0 auto;
  height: 60px;
  overflow: hidden;
}

.crop img {
  display: block;
  width: 100px;
  height: 100px;
  margin: -20px -17px;
}
#weatherType {
  line-height: 10px;
  text-transform: capitalize;
}
