body {
  background-image: url("../media/sunBack.png");
  background-position: center;
  background-size: cover;
  background-color: #ffe35e;
  font-family: "Quicksand", sans-serif;
  color: #faf1d0;
}
.infoContainer {
  background-color: #e4663a;
  padding: 20px;
  position: relative;
  bottom: 180px;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
#sun {
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}
#tomTemp,
.forePlaceholder,
#highLow,
#cityShown,
#temperatureShown,
.weathIcon {
  color: white;
}
#cityShown {
  font-size: 60px;

  font-family: "Spicy Rice", cursive;
}
#temperatureShown {
  font-family: "Spicy Rice", cursive;
  font-size: 60px;
  text-align: center;
}
.weathIcon {
  font-size: 50px;
  text-align: right;
  margin-top: -10px;
}
.extraInfo {
  line-height: 18px;
}
#highLow {
  font-size: 23px;
}
#tomTemp,
#tomFore,
.forePlaceholder {
  font-size: 14px;
}
.additionalWeathToday {
  text-align: left;
  line-height: 28px;
  font-weight: 700;
}
#weathertype {
  font-size: 14px;
}
#tomIcon {
  font-size: 30px;
  display: block;
}
#tomIcon,
#tomTemp,
#tomFore,
.forePlaceholder {
  margin: auto;
  text-align: center;
}
.forecast {
  background-color: #fcfe7c38;
  border-radius: 10px;
  margin: 0px;
  padding: 5px;
}
